@import "../../../assets/styles/app";

.preloader {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #283C90;
  overflow: hidden;

  &_hide {
    display: none;
  }

  .logo {
    border: none;
    outline: none;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.35 * 1062px;
    height: 0.35 * 2304px;
    //border: 2px solid #FFF;
  }
}